---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BaseHead from "@/components/BaseHead.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <BaseHead
      title={title ?? SITE_TITLE}
      description={description ?? SITE_DESCRIPTION}
      image={image}
    />
  </head>
  <body class="bodyBackground bg-fixed text-white/70 py-10">
    <Header />

    <main class="max-w-[768px] mx-auto px-3 py-10">
      <slot />
    </main>

    <Footer />
  </body>
</html>
